# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Node
node_modules/
.next/
npm-debug.log*

# Database
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/